package ${1:name}

import org.junit.Test
import static org.hamcrest.CoreMatchers.equalTo
import static org.junit.Assert.assertThat
import static org.junit.Assert.assertTrue


class ${2:classname} {
  
  public void ${3:testName}(){
    ${4:body}
  }
  
}
